name: Check Flats

on:
  schedule:
    - cron: '0 * * * *'  # Автозапуск щогодини
  workflow_dispatch:     # Кнопка для ручного запуску

jobs:
  run:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
        with:
          persist-credentials: true

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run monitor
        run: python monitor.py

      - name: Save state
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add seen_ids.txt
          git commit -m "Update seen IDs [skip ci]" || exit 0
          git push origin main --force
