name: Check Flats

on:
  schedule:
    - cron: '0 * * * *'  # Запуск на початку кожної години
  workflow_dispatch:     # Дозволяє запускати вручну кнопку

jobs:
  run:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - run: pip install -r requirements.txt
      - name: Run monitor
        run: python monitor.py
      - name: Save state
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add seen_ids.txt
          git commit -m "Update seen IDs" || exit 0
          git push
